version 6

FIREHOL_LOG_PREFIX="FireHOL: "
FIREHOL_DROP_ORPHAN_TCP_ACK_FIN=1

interface {{ wan_interface }} world
    protection strong
    client all accept
    server "{{ " ".join(allow_services) }}" accept
